*{
  box-sizing: border-box;
}
body{
width: 100%;
font-family: 'Mulish', sans-serif;
background-image: url('img/element.png');
background-repeat: no-repeat;
background-position: 0px 200px ;
background: rgb(248, 248, 248) ;

}
.contaenr{
  max-width: 980px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;

}
.top-menu{
  margin: 0;padding: 0;
  list-style-type:none;
  font-weight: normal;
font-size: 18px;
color: #424244;
margin-left: auto;
display: flex;
}
 .top-menu .active{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.top-menu li{
  margin-left: 30px;
}
.top-haedr{
  display: flex;
align-items: center;
margin-bottom: 100px;
}
.haedr-left h2{
  font-weight: bold;
font-size: 48px;
line-height: 56px;width: 440px;
}
.haedr-left p{
  margin-bottom: 80px;
  font-weight: 300;
font-size: 21px;
line-height: 32px;
color: #7D7987;
margin-bottom: 100px;
width: 440px;
}
.haedr-left a{

  text-decoration: none;
  list-style: none;
  color: white;
  background: #458FF6;
border-radius: 55px;
padding: 15px 30px;width: 440px;
}
.haedr{
  display: flex;
  margin-bottom: 100px;
}
.top-haedr img{
  width:161px ;
  height: 41px;
}
.haedr-left{
  padding-top: 60px;
}
.img-1{
  width: 693px;
  height: 598px;
}
.contaenr-1{
width: 900px;
margin-left: auto;
margin-right: auto;
/* background-image: url("img/fonchap@2x.png");
background-repeat: no-repeat;
background-position: 0px 200px ; */
}
.services{
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}
hr{
  width: 56px;
height: 5px;
left: 772px;
top: 1049px;

background: #000000;
border-radius: 5px;
}
.services p{
  font-weight: 300;
font-size: 18px;
line-height: 30px;
/* or 167% */

text-align: center;

color: #7D7987;
}
.services h2{
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 56px;
/* identical to box height, or 156% */


color: #000000;

}
.servic-bar{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bar-fucer{
  margin-bottom: 50px;
  padding: 30px;
  width: 30.3%;
  box-shadow:  0 0 10px #999999;
  border-radius: 20px;
background-color: #fff;
}
.learn{
  font-weight: bold;
font-size: 18px;
line-height: 60px;
/* identical to box height, or 333% */
border: 1.4px solid #458FF6;
box-sizing: border-box;
border-radius: 55px;
padding: 15px 20px;
color: #458FF6;
text-decoration: none;
margin-left: 385px ;
margin-bottom: 150px;
}
